# Python Lesson
## Introduction
Das ist eine **Python**-*Einf√ºhrung*

In [3]:
print("Hello World")

Hello World

In [4]:
name = "Lovelace"

In [5]:
print(name)

Lovelace

In [7]:
name

'Lovelace'

In [8]:
age = 73

In [9]:
print(age)

73

In [11]:
size = 1.7123

In [12]:
knows_math = True 
print(knows_math)
likes_slacking = False
print(likes_slacking)

True
False

In [13]:
type(name)

str

In [14]:
type(age)

int

In [15]:
type(size)

float

In [16]:
5 + 5

10

In [17]:
age * 100

7300

In [18]:
age

73

In [19]:
name + name

'LovelaceLovelace'

In [20]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [21]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [22]:
age + size

74.7123

In [26]:
size / age

0.023456164383561642

In [25]:
my_result = size / age

In [27]:
print(my_result)

0.023456164383561642

In [28]:
age ="73"

In [29]:
age = int(age)

# Funktionen und Methoden nutzen

In [31]:
name

'Lovelace'

In [32]:
len(name)

8

In [33]:
name.upper()

'LOVELACE'

In [34]:
name.count("e")

2

In [35]:
name.replace("lace", " is everywhere")

'Love is everywhere'

# Listen und Dictionaries

In [38]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [39]:
names[2]

'Curie'

In [40]:
names[3]

'Hawking'

In [41]:
names[-1]

'Hawking'

In [42]:
names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [43]:
names[0:2]
names[2:]

['Curie', 'Hawking']

In [44]:
names[:3]

['Lovelace', 'Darwin', 'Curie']

In [46]:
print(names[:2])
print(names[2:])

['Lovelace', 'Darwin']
['Curie', 'Hawking']

In [47]:
authors_and_birth_years = {"Lovelace": 1882, 
                           "Darwin": 1809, 
                           "Hawking": 1942}

In [48]:
authors_and_birth_years["Lovelace"]

1882

# for-Schleife

In [49]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [51]:
for name  in names:
    print(name)
    print("--------")

Lovelace
--------
Darwin
--------
Curie
--------
Hawking
--------

In [52]:
print("--------")

--------

In [53]:
for name  in names:
    print(name)
    print("--------")

Lovelace
--------
Darwin
--------
Curie
--------
Hawking
--------

In [54]:
authors_and_birth_years

{'Lovelace': 1882, 'Darwin': 1809, 'Hawking': 1942}

In [57]:
for key, value in authors_and_birth_years.items():
    print(key)
    print(value)

Lovelace
1882
Darwin
1809
Hawking
1942

In [65]:
authors_and_birth_years = {"Lovelace": 1882, 
                           "Darwin": 1809, 
                           "Hawking": 1942}


for author, birth_year  in authors_and_birth_years.items():
    print(author + " was born in " + str(birth_year) + ".")

Lovelace was born in 1882.
Darwin was born in 1809.
Hawking was born in 1942.

# Bedingungen und Anweisungen (Conditionals)

In [67]:
temp = 20
if temp > 15: 
    print("It's warm")

It's warm

In [68]:
temp > 15

True

In [69]:
temp = 20
if temp > 15: 
    print("It's warm")
else:
    print("It's cold")

It's warm

In [71]:
temp = 15
if temp >= 25:
    print("It's hot")
elif temp <=15:
    print("It's warm")
else:
    print("It's cold")

It's warm

In [72]:
temp = 32
if temp >= 25:
    print("It's warm")
elif temp <=15:
    print("It's hot")
else:
    print("It's cold")

It's warm